@{
    ViewBag.Title = "Contact";
}
<head>
    <link href="~/Css/Propio.css" rel="stylesheet" />
    </head>
<main aria-labelledby="title">
    <div class="container">
        <section class="bg-b row">
            <div class="col-md-6 flex-column flex-fill">
                <div class="text-center text-white my-5"><h1>¡BIENVENIDO A<br />PEDFAM!</h1></div>
                <div class="text-white font-monospace my-5"><h4>Monitoreo y asignación de tratamientos personalizados, acercando la tecnología al cuidado de tus pacientes.</h4></div>
                <div class="my-5"><button class="bg-white btn btn-primary rounded-5 border-2"><h4 class="text-info font-monospace">Contactame</h4></button></div>
            </div>
            <div class="col-md-6">
                <img src="~/img/Captura de pantalla 2024-11-17 204451.png" class="img-fluid" alt="aqui va una imagen xd" />
            </div>
        </section>
        <section class="row">
            <div class="col-md-6 w-50">
                <div class="text-primary mt-5 mx-5 d-flex justify-content-center align-items-center"><h2 class="fs-1"><strong>USA NUESTRA APP</strong></h2></div>
                <div class="font-monospace my-3 mx-lg-4 d-flex justify-content-center align-items-center"><h4>PEDFAM ha revolucionado la atención médica con su app, diseñada para pacientes frecuentes. Con esta nueva herramienta tecnológica, monitorear y gestionar tratamientso es mas fácil y eficiente que nunca.</h4></div>
                <div class="font-monospace mb-5 mx-lg-4 d-flex justify-content-center align-items-center"><h4>Si ya sos cliente frecuente, escanea el código QR para acceder..</h4></div>
            </div>
            <div class="col-md-6 d-flex flex-column">
                <div class="text-center"><img src="~/img/Captura de pantalla 2024-11-17 204547.png" class="img-fluid" alt="Aqui va una imagen xd" /></div>
                <div class="mb-5 bg-c text-center rounded-5 border-2 mt-auto mx-lg-5"><h4 class="text-white font-monospace">Escaneame</h4></div>
            </div>
        </section>
        <section class="bg-c row">
            <div class="col-md-6 w-50">
                <img src="~/img/Captura de pantalla 2024-11-17 204631.png" class="img-fluid" alt="aqui va una imagen xd" />
            </div>
            <div class="col-md-6  d-flex flex-column align-items-center position-relative">
                <div class="position-absolute top-50 start-50 translate-middle">
                    <div class="text-white text-center mt-5"><h2 class="fs-1"><strong>Medico Pediatra</strong></h2></div>
                    <div class="text-white text-center my-3"><h2 class="fs-3"><strong>Dr. Daniel Garcia</strong></h2></div>
                    <div class="text-white text-center mb-5"><h2 class="fs-3"><strong>Medicina Basada en Evidencia</strong></h2></div>
                </div>
                <div class="d-flex position-absolute bottom-0 start-50 translate-middle-x">
                    <div class="bg-b text-center rounded-4 border-2 py-1 mx-1 d-flex justify-content-center align-items-center"><h4 class="text-white font-monospace">Pediatria General</h4></div>
                    <div class="bg-b text-center rounded-4 border-2 py-1 mx-1 d-flex justify-content-center align-items-center"><h4 class="text-white font-monospace">Emergencias</h4></div>
                    <div class="bg-b text-center rounded-4 border-2 py-1 mx-1 d-flex justify-content-center align-items-center"><h4 class="text-white font-monospace">Enfermedades Recurrentes</h4></div>
                </div>
            </div>
        </section>
        <section class="row my-5">
            <div class="w-65">
                <div class="row position-relative">
                    <div class="col-md-3 my-1 w-45 mt-2"><img src="~/img/Captura de pantalla 2024-11-17 204738.png" class="img-fluid" alt="aqui va una imagen xd" /></div>
                    <div class="col-md-3 my-1 w-45 mt-2 position-absolute top-50 end-0 translate-middle-y"><img src="~/img/Captura de pantalla 2024-11-17 204757.png" class="img-fluid" alt="aqui va una imagen xd" /></div>
                </div>
                <div class="w-auto position-relative">
                    <div><img src="~/img/Captura de pantalla 2024-11-17 204830.png" class="img-fluid position-absolute start-50 translate-middle-x mt-4" alt="aqui va una imagen xd" /></div>
                </div>
            </div>
            <div class="w-35">
                <div>
                    <div class="my-2 w-auto"><img src="~/img/Captura de pantalla 2024-11-17 205030.png" alt="aqui va una imagen xd" /></div>
                </div>
            </div>
        </section>
        <section class="bg-c row position-relative">
            <div class="col-md-6 w-45">
                <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2764.965674035315!2d-86.265667!3d12.145361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f633f2b0de73af1%3A0xa10e5b8c25e63600!2sManagua%2C%Nicaragua!5e0!3m2!1ses-419!2sni!4v1694084841987!5m2!1ses-419!2sni"class="my-3 mx-1" width="100%" height="100%"   style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>
            <div class="col-md-6 w-45 position-relative">
                <div class="position-absolute top-50 end-0 translate-middle-y">
                    <div><h2 class="text-white"><strong>Contactame</strong></h2></div>
                    <div><h4 class="text-white"><strong>Dirección: Del Hospital el Bautista 2c abajo, 2c 1/2 al Sur, Frente al Centro de Hemodiálisis Cruz Azul</strong></h4></div>
                    <div><h4 class="text-white"><strong>Telefono:84722748</strong></h4></div>
                </div>
                @*<div class="position-relative">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>*@
            </div>
        </section>
    </div>
</main>